:root {
  --vermelho: #FF0000;
}
.cores{
    color: #8A2BE2; 
    font-size: 25px;
    font-weight: 600; 
  }

  
  .borda{
    border: 2px solid;
  }
  
  .div-principal{
    width: 200px;
    height: 200px;
  }
  .div-comum{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 5px;
  }

  .verde{
    background-color: green;
  }
  .branco{
    background-color: white;
  }
  .azul{
    background-color: blue;
  }
  .vermelho{
    background-color: red;
    
  }

  .paragrafo{
    color:var(--vermelho);
  }
